body{

margin: 0;
text-align: center;

}
h1{
font-size: 5.25rem;
width: 100%;


}
.g1{
color: blue;
}
.g2{
    color: red;
}
.g3{
    color: yellow;
}
.g4{
    color: green;
}
.FirstContainer{

background-color: white;

}
.SecondContainer{
  
font-size: 20px;
color: grey;
background-color: #dbe8e8;
}
.ThreeContainer{
color: rgb(10, 10, 223);
background-color: white;

}
.FourContainer{


font-size: 20px;
color: grey;
background-color: #dbe8e8;

    
}
.textarea{
padding-right: 3%;
margin-top: 1%;
margin-right: 1%;
}
.button{
 position: absolute;
 margin-top: 15px;
}
.arsiv{
    position: absolute;
  top: 575px;
    font-size:15px;
    
margin-left: 950px;
}
.select
{   
padding-left: 100px;
}